/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-hidden .ttu-book-body-wrapper.ttu-no-text {
  position: fixed;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  --book-content-child-height: 100vh;
  --book-content-image-max-width: 100vw;
  text-align: center;
  [style="writing-mode: horizontal-tb;"] & { width:100vw }
  html:has(&) #ttu-page-footer {
    display: none;
  }
}

select, input {
  appearance: revert !important;
  background: revert !important;
  color: revert !important;
  border: revert !important;
  border-radius: revert !important;
}

:root {
  color-scheme: dark;
  --font-color: #fffd;
  --background-color: #23272a;
  scrollbar-color: #c1c1c1 #c1c1c100;
}

.book-cover {
  overflow-clip-margin: unset;
}

@layer base {
  body {
    color: var(--font-color);
    background-color: var(--background-color);
  }
}

@layer utilities {
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSansJP-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSansJP-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSansJP-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSerifJP-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSerifJP-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSerifJP-Bold.woff2') format('woff2');
}
